<!DOCTYPE html>



<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> SM Home </title>
        <meta name="description" content="Webpage">
        <meta name="viewport" content="width=device-width, initial-scal=1">
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
        <main>
            <header>
                <nav>
                    <div class = "menu">
                        <a href="contact">Contact</a>  
                    </div>
                    <div class = "status">
                        <a href="post">Post</a>
                        <a href="login">Login</a>
                        <a button class="button_su" href="signup">Sign up</button></a>
                    </div>
                </nav>
            </header>
            <section class="info">
                <h1 class="main_font">Welcome to CE223</h1>
                <div class="plans">
                    <div class="plan">
                        <img src=""/>
                        <div class="plan_info">
                            <b class = "group1">PROFESSIONAL</b><br><br><br>&nbsp;
                            <c class = "price">$10/mo*</c><br><br><br>
                            <d class = "features">Features</d><br>
                            <div class = "feature_infos">
                                <d class = "info1">1 user</d><br>
                                <d class = "info2">2 social accounts</d><br>
                                <d class = "info3">unlimited posts</d>
                            </div>
                        </div>
                    </div>
                    <div class="plan">
                        <img src=""/>
                        <div class="plan_info">
                            <b class = "group2">TEAM</b><br><br><br>&nbsp;
                            <c class = "price">$24/mo*</c><br><br><br>
                            <d class = "features">Features</d><br>
                            <div class = "feature_infos">
                                <d class = "info1">3 user</d><br>
                                <d class = "info2">4 social accounts</d><br>
                                <d class = "info3">unlimited posts</d>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>